.slide_in,
.slide_out {
   position: fixed;
   top: 0%;
   left: 0%;

   height: calc(100vh);
   width: 100%;
   background-color: #0f0f0f;
   z-index: 1000;
}
.slide_in {
   // transform-origin: top;
}

.slide_out {
   // transform-origin: bottom;
}

.main_animation {
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;

   width: 100%;
   height: 100vh;

   user-select: none;
   background-color: rgba(0, 0, 0, 1);

   display: flex;
   align-items: center;
   justify-content: center;

   &_div {
      // font-size: 40px;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      max-width: 300px;
      height: auto;
      // transform: scale(20);
      // opacity: 0;
      img {
         object-fit: cover;
      }
   }
}
