.footer {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100px;

   padding: 12px 20px;
   background-color: #141414;

   &__links {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 16px;
   }

   &__link {
      font-size: 15px;
      line-height: 18px;
      white-space: nowrap;
      text-decoration: none;
      opacity: 0.5;
      color: #fff;

      &:hover {
         transform: scale(1.1);
         opacity: 1;
      }
   }
}
