@import "../../app/styles/vars";
@import "../../app/styles/mixins";

.footer {
   @include flex(center, center);

   min-height: 120px;

   padding: 12px 20px;
   background-color: #141414;

   &__links {
      @include flex(center, center, 16px);
      flex-wrap: wrap;
   }

   &__link {
      @include fontBase(15px, 18px);

      white-space: nowrap;
      text-decoration: none;
      opacity: 0.5;
      color: $BGCWhite;

      &:hover {
         transform: scale(1.1);
         opacity: 1;
      }
   }
}
