@import "../../app/styles/mixins";
@import "../../app/styles/vars";

.film {
   position: relative;
   @include flex(flex-start, flex-start, 22px);

   padding: 16px;

   background-color: rgba(248, 248, 248, 1);
   border-radius: 16px;

   @media screen and (max-width: 570px) {
      @include flex(center, flex-start, 12px, column);
   }

   &:hover {
      background-color: #eceaea;
   }

   &::before,
   &::after {
      content: "";
      width: 90%;
      height: 2px;

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      background-color: $BGCGray;
   }

   &::before {
      top: 0;
   }
   &::after {
      bottom: 0;
   }

   .film__link {
      width: 150px;
      min-width: 150px;
      height: 225px;
      display: block;

      @media screen and (max-width: 670px) {
         width: 120px;
         min-width: 120px;
         height: 190px;
      }
      .poster {
         width: 100%;
         height: 100%;
      }
   }

   .wrapper {
      @include flex(flex-start, space-between, 8px);
      flex-wrap: wrap;
      padding: 4px 8px;
      width: 100%;

      .info {
         .title {
            @include fontBase(20px, 24px, 500);

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            word-wrap: normal;

            @media screen and (max-width: 670px) {
               @include fontBase(16px, 20px, 500);
            }
         }

         .subtitle {
            @include flex(start, flex-start, 8px);
            flex-wrap: wrap;
            @include fontBase(16px, 20px);

            @media screen and (max-width: 670px) {
               @include fontBase(14px, 16px);
            }
         }

         .genre,
         .additionalInfo {
            margin-top: 4px;

            @include fontBase(14px, 16px);
            color: rgba(0, 0, 0, 0.6);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
         }
      }

      .user {
         flex-shrink: 0;

         @media screen and (max-width: 410px) {
            @include flex(flex-start, flex-start, 8px);
            margin-top: 12px;
            margin-right: 40px;
         }
         &__btns {
            .like {
               margin-top: 12px;
               width: 50px;
               height: 50px;
               padding: 8px;

               border-radius: 50%;
               @include fontBase(0, 0);

               @media screen and (max-width: 500px) {
                  margin-top: 4px;
                  width: 40px;
                  height: 40px;
               }
            }
         }
      }
   }
}
