@import "../../app/styles/mixins.scss";
@import "../../app/styles/vars.scss";

.sort {
   border-radius: 8px;
   background-color: #f2f2f2;
   .list {
      display: flex;

      .item {
         @include flex(center, flex-start, 8px);
         @include fontBase(20px, 24px);
         position: relative;
         padding: 12px 20px;

         border-radius: 8px;
         cursor: pointer;

         &.active {
            color: $colorWhite;
            background-color: $BGCBlack;
         }

         &:not(:last-child)::after {
            position: absolute;

            background-color: $colorWhite;
            top: 0;
            right: -2px;
            transform: translate(-50%);

            content: "";
            height: 100%;
            width: 2px;
         }

         .arrow {
            user-select: none;
            width: 20px;
            height: 20px;
            transition: 0.2s ease-in-out;
            background-color: $BGCWhite;
            border-radius: 50%;
            padding: 4px;

            &.asc {
               transform: rotate(0deg);
            }
            &.desc {
               transform: rotate(180deg);
            }
         }

         .title {
            @include fontBase(15px, 18px, 500);
            white-space: nowrap;
            color: inherit;
         }
      }
   }
}
