@import "../../../../app/styles/mixins.scss";

.detail {
   width: 410px;
   width: 100%;

   .detail__film {
      @include flex(start, flex-start, 8px, column);
      width: 100%;
      margin-top: 10px;
   }

   .detail__title {
      @include fontBase(22px, 28px, 600);
      margin-bottom: 12px;
      color: $colorBlack;
   }

   .detail__subtitle {
      @include fontBase(13px, 18px);
      min-width: 160px;

      color: rgba(0, 0, 0, 0.6);
   }

   .detail__value {
      @include fontBase(13px, 18px, 400);
      &:not(:last-child) {
         margin-right: 4px;
      }

      & span:first-child {
         margin-right: 4px;
      }
   }

   .ageBox {
      padding: 2px 6px;
      border: 2px solid black;
   }
}
