.layout {
   position: fixed;
   inset: 0;
   overflow: hidden;
   background-color: rgba(248, 82, 41, 0.2);

   .modal {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 400px;
      min-height: 210px;

      padding: 20px;

      border: 1px solid ccc;
      background-color: #fff;
      -webkit-overflow-scrolling: touch;
      border-radius: 8px;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);

      .title {
         font-size: 30px;
         line-height: 34px;
      }
   }
   .btns {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 20px;
   }
}
