@import "../../app/styles/mixins.scss";

.wrapper {
   .input__wrapper {
      @include flex(center, flex-start);
      padding: 0 10px;

      border-radius: 8px;
      background-color: hsla(0, 0%, 100%, 0.15);

      .input {
         @include fontBase(15px, 18px);

         width: 100%;
         padding: 8px 0 8px 16px;

         color: #fff;
         outline: none;
         background: transparent;
         border: 1px solid transparent;
         &:focus {
            border: 3px solid #ffd25e 16.44%;
         }
      }
   }
}
