@import "../../app/styles/mixins.scss";
.search {
   height: 100%;
   margin-top: 20px;
   .title {
      @include fontBase(28px, 32px);
   }

   .wrapper {
      margin-top: 20px;
      padding: 4px 12px;
   }
}
