.loaderWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;

   .loader {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: spin 0.6s infinite linear;

      &.xl {
         width: 100px;
         height: 100px;
      }

      &.l {
         width: 60px;
         height: 60px;
      }

      &.m {
         width: 48px;
         height: 48px;
      }

      &.s {
         width: 24px;
         height: 24px;
      }

      .loader {
         height: 100%;
         width: 100%;
      }

      .disabled {
         stroke: #000000;
         stroke-opacity: 0.2;
      }

      .fill_primary {
         fill: black;
      }

      .fill_secondary {
         fill: white;
      }

      .fill_accent {
         fill: green;
      }
   }
}

@keyframes spin {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}
