@import "../../app/styles/mixins.scss";

.header {
   @include flex(center, space-between);
   height: 80px;
   padding: 5px 20px;

   background-color: #141414;
   color: #fff;
}

.logo {
   @include flex(center, flex-start, 12px);
}

.logo h1 {
   font-size: 2rem;
}
.logo img {
   width: 100px;
   height: 50px;
}
