@import "../../app/styles/mixins.scss";

.navigation {
   .list {
      margin: 24px 44px;
      @include flex(center, flex-start, 12px);
      flex-wrap: wrap;

      -ms-overflow-style: none;
      scrollbar-width: none;

      .item {
         @include fontBase(15px, 18px, 500);
         overflow: hidden;

         color: #000;
         white-space: nowrap;
         background-color: #fff;
         cursor: pointer;
         border-radius: 12px;

         .link {
            padding: 8px 20px;
            display: block;
            height: 100%;
            width: 100%;
            overflow: hidden;

            &.active {
               color: #fff;
               background: linear-gradient(
                  150deg,
                  #e45808 16.44%,
                  #e4e00f 63.42%
               );
            }
         }
      }
   }
}
