@import "../../../app/styles/mixins";
@import "../../../app/styles/vars";

.pagination {
   @include flex(center, center, 12px);
   margin-top: 12px;
   max-height: 120px;
   height: 80px;

   list-style: none;

   .pagination__item {
      @include flex(center, center);

      height: 40px;
      width: 40px;
      margin: 0 5px;

      border-radius: 8px;
      cursor: pointer;
      background-color: #e5e5e5;

      .pagination__link {
         @include flex(center, center);
         height: 100%;
         width: 100%;

         color: #362727;

         &.active {
            color: $BGCWhite;
            background-color: rgb(85, 66, 66);
            border-radius: 12px;
         }
      }
   }
}

.button_prev {
   background-image: url("/src/app/assets/prev.svg");
}

.button_next {
   background-image: url("/src/app/assets/next.svg");
}

.previous.disabled a .button_prev {
   opacity: 0.8 !important;
}

.next.disabled a .button_next {
   opacity: 0.8 !important;
}
