@import "../../app/styles/mixins.scss";

.layout {
   position: fixed;
   inset: 0;
   overflow: hidden;
   background-color: rgba(248, 82, 41, 0.2);

   .modal {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @include flex(center, center, 4px);

      min-width: 400px;
      min-height: 210px;

      padding: 20px;

      border: 1px solid ccc;
      background-color: #fff;
      -webkit-overflow-scrolling: touch;
      border-radius: 8px;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);

      .title {
         @include fontBase(28px, 32px);
      }
   }
   .btns {
      @include flex(center, center, 20px);
      margin-top: 20px;
      text-align: center;
   }
}
