@import " ../../../../../app/styles/mixins";
@import " ../../../../../app/styles/vars";

.navigation {
   .list {
      @include flex(center, flex-start, 12px);
      flex-wrap: wrap;

      -ms-overflow-style: none;
      scrollbar-width: none;

      .item {
         @include fontBase(15px, 18px, 500);
         overflow: hidden;

         color: $colorBlack;
         white-space: nowrap;
         background-color: $BGCWhite;
         cursor: pointer;
         border-radius: 12px;

         .link {
            padding: 8px 20px;
            display: block;
            height: 100%;
            width: 100%;
            overflow: hidden;

            &.active {
               // color: $BGCWhite;
               background: linear-gradient(
                  150deg,
                  #e45808 16.44%,
                  #e4e00f 63.42%
               );
            }
         }
      }
   }
}
