@import " ../../../../../app/styles/mixins";
@import " ../../../../../app/styles/vars";

.navigation {
   @include flex(center, center, 12px);
   .list {
      @include flex(center, center, 12px);
      flex-wrap: wrap;

      -ms-overflow-style: none;
      scrollbar-width: none;

      .item {
         @include fontBase(20px, 22px, 500);
         overflow: hidden;

         color: $colorBlack;
         white-space: nowrap;
         background-color: $BGCWhite;
         cursor: pointer;
         border-radius: 8px;

         .link {
            &.active {
               color: $BGCWhite;
               background: linear-gradient(
                  150deg,
                  #e45808 16.44%,
                  #e4e00f 63.42%
               );
            }
         }
      }
   }
}
