@import "../../app/styles/mixins.scss";

.Person {
   @include flex(flex-start, flex-start, 12px);
   flex-wrap: wrap;

   min-height: 205px;
   width: 100%;
   margin-top: 30px;
   padding: 8px;

   .media {
      height: 100%;

      &__imgContainer {
         width: 222px;
         height: 320px;
         overflow: hidden;
      }
      &__img {
         width: 100%;
         height: 100%;
         display: block;
         object-fit: cover;
      }
   }

   .info {
      .title {
         @include flexWrap();
         @include fontBase(36px, 42px, 700);
         letter-spacing: -0.5px;
      }

      & > .subtitle {
         @include flex(center, flex-start, 8px);
         @include fontBase(18px, 22px);
         margin-top: 12px;

         color: rgba(0, 0, 0, 0.6);
         letter-spacing: -0.2px;
         font-style: italic;
      }
      .wrapper {
         @include flexWrap();
         min-height: 205px;
         margin-top: 32px;

         .details {
            .subtitle {
               @include fontBase(22px, 28px, 600);
               margin-bottom: 10px;

               color: $colorBlack;
               font-style: normal;
            }
         }

         .film {
            @include flex(flex-start, flex-start, 4px, column);
            width: 200px;
            margin-top: 12px;
            padding: 12px 0 4px;

            .title {
               @include fontBase(15px, 18px);

               margin-bottom: 4px;
            }
            .list {
               @include flex(flex-start, flex-start, 4px, column);
               .link {
                  @include fontBase(13px, 16px);
               }
            }
         }
      }
   }
}
