.movieCategories__list {
   margin: 24px 0;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 12px;
   -ms-overflow-style: none;
   scrollbar-width: none;

   .movieCategories__item {
      padding: 12px 20px;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      white-space: nowrap;
      cursor: pointer;
      border-radius: 8px;
      color: #000;
      background-color: #f2f2f2;

      &.active {
         color: #fff;
         background-color: #1f1f1f;
         border-radius: 12px;
      }
   }
}
